.login {
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    margin-left: 500px;
    margin-top: 180px;
}

.ip {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    left: 100px;
}

form table tr td button {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    background-color: g;
}

button:hover {
    font-size: 15px;
}

span {
    color: red;
}

h2 {
    color: green;
}